{% extends  "base/main.html" %}
{% block content %} 

<div class="container p-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/signin" method="post"> {% csrf_token %}
                <div class="card">
                    <div class="card-header text-center">Login</div>
                    <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-3 text-end">    
                                    <label for="inputUsername" class="col-form-label">Username:</label>
                                </div>
                                <div class="col-9 text-start">
                                    <input class="form-control" type="text" id= "inputUsername" name="username" placeholder="Username" required> 
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-3 text-end"><label for="inputPassword" class="col-form-label">Password:</label></div>
                                <div class="col-9 text-start">
                                    <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password" required> 
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-9"><label class="col-form-label " style="color: red;">* Access Denine</span></div>
                                <div class="col-3 text-end">
                                    <button class="btn btn-info" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        <div class="col-4"></div>
    </div>
    
</div>
{% endblock %}